body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(120, 141, 164);
    
}
.bell{
    font-size: 150px;
    color: gold;
    filter: drop-shadow(0 0 15px gold);
    transform-origin: top center ;
    animation: bell 0.8s infinite ease-in-out;
}
.bell:hover{
    transform: rotate(30deg );   
}
.badge{
    position: absolute;
    top: 9px;
    right:9px;
    background-color: aqua;
    font-size: 14px;
    font-weight: 23px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
@keyframes  bell{
    0%{transform: rotate(0deg) scale(1);}
    25%{transform: rotate(30deg) scale(1.05)}
    50%{transform: rotate(-30deg) scale(1.05)}
    75%{transform: rotate(30deg) scale(1.05)}
    100%{transform: rotate(0deg) scale(1)}
}